<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <h3>Welcome to HAJ</h3>
    <strong>Your login credentials are as follows: </strong>
    <p>Email : <strong><%= email %></strong></p>
    <p>Password : <strong><%= password %></strong></p>
  </body>
</html>
