<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h3>Reset Password of Chat Account</h3>
    <p>Please Click On This Link And Reset Your Password</p>
    <a href="<%= baseUrl %>/reset-password/?token=<%= token %>">
      Reset Password</a>
    </body>
</html>
